{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
<h1><center>{% trans "Author Search Results" %}</center></h1>
<div class = "content-body">
{% if author_list %}
    <ul>
        {% for author in author_list %}
          <li>
              <a href="{{ author.get_absolute_url }}">
              {{ author }} ({{author.date_of_birth.year}} - {% if author.date_of_death %}{{author.date_of_death.year}}{% endif %})
            </a>
          </li>
      {% endfor %}

    </ul>
{% else %}
      <p><center>{% trans "There are no authors available." %}</center></p>
{% endif %}
  </div>
{% endblock %}
