{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" >
{% block content %}
    <div class =  "content">
    <h1><center>{% trans "My Local Library Home" %} </center></h1> 
    <p><center>{% trans "Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network" %}</center></em></p>
    <h2><center>{% trans " Dynamic content" %} </center></h2>
    <p><center>{% trans "The library has the following record counts:" %}</center> </p>
    <ul class = "content-body">
        <li><strong>{% trans "Books" %} :</strong> {{ num_books }}</li>
        <li><strong>{% trans "Copies" %} :</strong> {{ num_instances }}</li>
        <li><strong>{% trans "Copies available" %} :</strong> {{ num_instances_available }}</li>
        <li><strong>{% trans "Authors" %} :</strong> {{ num_authors }}</li>
        <li><strong>{% trans "Genres" %} :</strong> {{ num_genre }}</li>
    </ul>
    </div>
    <div class ="content-footer"> {% trans "You have visited this page" %} {{ num_visits }} {%trans "time" %}{{ num_visits|pluralize }}.</div>
{% endblock %} 
