{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block content %}
<div>
    <h1><center>{% trans "Borrowed books" %}</center></h1>
    {% if bookinstance_list %}
    <ul>
        <div class = "content-body">
        {% for bookinst in bookinstance_list %}
        <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
            <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> 
            {% if bookinst.borrow_day %}({{ bookinst.borrow_day }}) {% endif %}
            <strong><a>to</a></strong> ({{ bookinst.due_back }})<br>
            <a> <strong>{% trans "Borrow status" %} </strong> {{bookinst.get_borrow_display}} </a></br>
            <a href="{% url 'book-return' bookinst.pk %}">{% trans "Return now" %}</a>
        </li>
        {% endfor %}
        </div>
    </ul>

    {% else %}
        <p><center>{% trans "There are no books borrowed." %}</center></p>
    {% endif %}
</div>
{% endblock %}
